/* ==========================================================================
   Base styles: 
   ========================================================================== */
   @font-face {
    font-family: 'Panama';
    src: url("../font/PanamaRegular.otf") format('otf');
    font-style: normal;
    font-weight: 400;
  }
  @font-face {
    font-family: 'Panama';
    src: url("../font/PanamaItalic.woff") format('woff');
    font-style: italic;
    font-weight: 400;
  }

  @font-face {
    font-family: 'Seeko';
    src: url("../font/seeko-Regular.woff") format('woff');
    font-style: normal;
    font-weight: 400;
  }

  * {
    margin:0;
    padding:0;
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: "Saguro";
    src: local("Saguro"),
      url("../fonts/SaguaroSans-Regular.woff") format("woff"), url("../fonts/SaguaroSans-Regular.woff2") format("woff2");
  }

  :root {
    --base-spacing: 1rem;
    --base-color:rgb(5,5,5);
    --base-invert:rgb(250,250,250);
    --base-fontSize: 1rem;
    --sm-fontSize: 1rem;  
    /*--swiper--*/
    --swiper-pagination-left: auto;
    --swiper-pagination-right: 1rem;
    --swiper-pagination-bottom: 1rem;
    --swiper-pagination-top: auto;
    --swiper-pagination-fraction-color: inherit;
}

h1 {
    display:inline-block;
    letter-spacing:.01rem;
    font-weight:normal;
    font-size:var(--base-spacing);
    margin: 0;
    padding: 0;
}


body {
    font-family: sans-serif;
    line-height:1.3;
    /* overflow:hidden; */
}

.designer-info {
    position:absolute;
    z-index:9999;
    width:50vw;
    box-sizing: border-box;
    padding:var(--base-spacing)
}

@media only screen and (max-width: 700px) {

}

.designer-info p{
    display:inline
}

.portfolio-container {
    height: 100vh;
    display:flex;
    flex-direction: column;
    position:relative;
}

@media only screen and (max-width: 700px) {
    .portfolio-container {
        height: calc(var(--vh, 1vh) * 100);    
    }
}

.swiper-container {
    height:100%;
}

.swiper-slide {
    background:var(--base-invert);
    cursor:pointer
}

.swiper-pagination{
    display: block;
    position: absolute;
    left: var(--swiper-pagination-left);
    bottom: var(--swiper-pagination-bottom);
    right: var(--swiper-pagination-right);
    text-align: right;
}

.black {
    background-color:var(--base-color);
}
.gray {
    background-color: var(--gray-color);
}
.white {
    background-color: #ffffff;
}

.invt {
    color:white;
}

.fig-frame {
    width:100%;
    position:absolute;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    flex: 1 1 1px;
    min-height:0;
    bottom:var(--base-spacing);
    box-sizing:border-box;
    padding: var(--base-spacing) var(--base-spacing) 0;
}

.m-type {
    font-size:1rem;
}

figcaption {
    bottom:0;
    max-width:50vw;
    font-size:var(--base-spacing);
    padding-top:var(--base-spacing);
    box-sizing: border-box;
    z-index:9999;
}
@media only screen and (max-width: 700px) {

    .m-type {
        font-size: var(--sm-fontSize)
    }

    figcaption {
        font-size: var(--sm-fontSize);
        max-width:100vw;
    }
    
}

.blend-mode {
    mix-blend-mode: difference;
    color: var(--base-invert)
}

.blend-mode a{
    mix-blend-mode: difference;
    color: var(--base-invert)
}

.mix .txt-align-left {
    mix-blend-mode: difference;
    color: var(--base-invert)
}

a {
    color: var(--base-color);
}


.left {
    left:0;
}

.r {
    padding-right:.5rem;
    display:inline-block;
}

.txt-align-left {
    position:absolute;
    bottom:0;
    padding-right: 1rem;
}


.portfolio-proj {
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
    width:100%;
    height:100%
}

.MH-contact a{
    font-size:1.5rem;
    color:var(--base-color);
    border:1px solid;
    border-radius:.75rem;
    padding:3px 3px 0px 3px;
    text-decoration:none;
    margin-left:.25rem
}

.fig-frame img{
   flex: 1;
   height:70%;
   object-fit: contain;
   object-position:top left;
   z-index:9998;
}
.fig-frame video{
  flex: 1;
  height:70%;
  object-fit: contain;
  object-position:top left;
  z-index:9998;
}

.med {
    max-width: 55%;
}

.lg {
    max-width: 85%;
}

.narrow{
  align-content: left;
  height: 80vh;
  

}

.mb{
    display:none !important
}

@media only screen and (max-width: 700px) {

    .designer-info {
        width:100%;
    }  

     .med, .lg{
        max-width: 100%;
    }

    .dk {
        display:none !important
    }

    .mb {
        display:inline !important
    }

    .m-type {
        font-size: var(--sm-fontSize)
    }

    figcaption {
        font-size: var(--sm-fontSize);
        max-width:100vw;
    }
    
}

@media only screen and (max-width: 700px) {
  main {
      height: calc(var(--vh, 1vh) * 100);    
  }
}


/* Index styling */
.index-container{
}

.h-index h1{
  text-transform: uppercase;
  font-size: 9pt;
  letter-spacing: .5px;
  color: red;
  text-align: center;
}

.project-container{
  display: grid;
  grid-template-columns: 2fr 1fr;
}


.cycle-slideshow{
background-color: black;
}
.cycle-slideshow img{
width: 100%;
object-fit: cover;
}