*, *::after, *::before {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
}

body {
        font-family: neue-haas-grotesk-text, Arial, Helvetica, sans-serif;
        font-size: 62.5%;    
}

.container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 1rem;
    justify-items: start;  
}

header{
    padding-right: 2rem;
}

h1{
    font-weight: 100;
    color: blue;
}

h1 a{
    text-decoration: none;
    color: black;
}

main {
    font-size: 1.2rem;
    line-height: 120%;
    margin: 0 auto;
    padding: 1rem;
}


#student__links{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.link {
    padding-right: 2rem;
    max-width: 250px;
}

.link:hover{
    transition: .3s ease-in-out;
    filter: blur(10px);
}

.link a{
    color: blue;
    text-decoration: none;
    font-size: 12pt;
}

.student{
    display: grid;
}

.text{
    margin: 0 auto;
    max-width: 800px;
    padding-bottom: 2rem;
}

.text p{
    font-size: 14pt;
    line-height: 1.4;
}

.image-wrapper{
    padding: 1rem;
    text-align: center;
    justify-content: center;
    filter: blur(10px);
    transition: .4s ease-in-out;


}

.image-wrapper p{
    margin: 0 auto;
    font-size: 10pt;
    padding: .5rem;
    max-width: 400px;
}

.image-wrapper img{
    max-width: 900px;
    transition: .2s ease-in-out;
}

.image-wrapper:hover{
    filter: blur(0px);
}





